.video {
    position: relative;
    background-color: var(--video-bg);
   //  border-radius: 69px 75px 0;
    overflow: hidden;
    transition: 0.4s;
    &.anim {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
   }
   &-wrapper {
      width: 100%;
      height: 100%;
   }
   &:hover {
      video {
         transform: scale(1.2);
         transform-origin: center;
         // background-position: center;
         // background-size: cover;
      }
   }
   video {
      display: block;
      cursor: pointer;
      transition: 0.4s;
      width: 100%;
      height: 100%;

   }
}

.window {
   flex: 0 0 50%;
   max-width: 50%;
   width: 100%;
   padding: 0 15px;
}

.oferflow {
   overflow: hidden;
}

video{
   object-fit: inherit;
   }